[submodule "eatfish"]
	path = eatfish
	url = https://github.com/MarkA772/eatfish.git
[submodule "breakout"]
	path = breakout
	url = https://github.com/MarkA772/breakout.git
[submodule "SnakeClone-Phaser"]
	path = SnakeClone-Phaser
	url = https://github.com/MarkA772/SnakeClone-Phaser.git
